*{
    margin: 0;
    padding: 0;
}

.DOX{
    width: 964px;
    height: 42px;
    border: 1px solid black;
    margin: 250px auto;
}

.box1{
    width: 78px;
    height: 32px;
    background-color: #ff6600;
    margin-left: 200px;
    margin-top: 5px;
    display: inline-block;
}
.box1 a{
    display: block;
    font-family: '微软雅黑';
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.box2,.box3,.box4,.box5,.box7,.box8,.box9,.box10{
    width: 35px;
    height: 32px;
    background-color: #ff6600;
    margin-top: 5px;
    display: inline-block;
}

.box2 a,.box3 a,.box4 a,.box5 a,.box7 a,.box8 a,.box9 a,.box10 a{
    display: block;
    font-family: '微软雅黑';
    font-size: 12px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.box6{
    display: inline-block;
}
.box11{
    width: 78px;
    height: 32px;
    background-color: #ff6600;
    margin-top: 5px;
    display: inline-block;
}
.box11 a{
    display: block;
    font-family: '微软雅黑';
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}
.box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box7:hover,.box8:hover,.box9:hover,.box10:hover,.box11:hover{
    background-color: red;
}
